<!DOCTYPE html>
<html lang="en-NL">

<head>
    <meta charset="utf-8" />
    <meta name="author" content="Lenor Hofschreuder" />

    <title>lenorable site</title>
    <!-- <link rel="stylesheet" href="basic.css"> -->
    <script src="/js/connectiontest.js" type="module"></script>

    <script src="https://kit.fontawesome.com/76fa0e805d.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Barlow&effect=outline' rel='stylesheet'>
</head>

<body>
    <h1> hallo wereld! </h1>
</body>

</html>