<!DOCTYPE html>
<html lang="en-NL">

<head>
    <meta charset="utf-8" />
    <meta name="author" content="Lenor Hofschreuder" />

    <title>lenorable site</title>
    <!-- <link rel="stylesheet" href="basic.css"> -->
</head>

<body>
    <script>
        async function testCon(){
            let resp = await fetch("/database/connect", {
                method: "GET",
                headers: {
                    'Content-Type': 'application/json'
                }
            });

            if (resp.ok) {
                const data = await resp.text();
                console.log(data);
            }
        }

        async function query(query){
            let data = {
                "query" : query
            }

            let resp = await fetch("/database/query", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                }
                ,body : JSON.stringify(data)
            });

            if (resp.ok) {
                const data = await resp.json();
                console.log(data);
            }
        }
    </script>
    <h1> hallo wereld! </h1>
</body>

</html>